@tailwind base;
@tailwind components;
@tailwind utilities;

/* Background should default to dark mode on both html & body */
body {
  @apply bg-gray-900 text-white;
}

/* Custom toggle switch styles */
.toggle-checkbox:checked {
  @apply right-0 border-blue-600;
}
.toggle-checkbox:checked + .toggle-label {
  @apply bg-blue-600;
}
.toggle-checkbox {
  @apply right-4 transition-all duration-200 ease-in-out;
}

/* Toast animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-1rem);
  }
}

.toast-enter {
  animation: fadeIn 1s ease-out forwards;
}

.toast-exit {
  animation: fadeOut 1s ease-in forwards;
}

/* In your global CSS */
.ql-container {
  @apply border border-gray-300 dark:border-gray-600 rounded-b-md;
}

.ql-toolbar {
  @apply border border-gray-300 dark:border-gray-600 rounded-t-md bg-white dark:bg-gray-700;
}

.ql-editor {
  @apply min-h-[8rem];
}